@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-inter antialiased;
  }

  @supports (font-variation-settings: normal) {
    html {
      @apply font-inter-var;
    }
  }

  /* stylelint-disable-next-line selector-id-pattern */
  html,
  body,
  div#__next {
    @apply w-full h-full;
  }

  a,
  button {
    @apply cursor-pointer focus:outline-none focus:ring-0;
  }

  a[disabled],
  button[disabled] {
    @apply cursor-default pointer-events-none;
  }

  svg {
    width: 1em;
    height: 1em;
    fill: currentcolor;
  }

  th {
    font-weight: inherit;
  }
}
